@media (max-width: 1380px) {
    .slider-2 .slick-list {
        max-height: 325px;
    }
}

@media (max-width: 1300px) {
    .slider {
        padding: 0;
    }
    .rent__link {
        margin: 0 auto 63px;
    }
    .slider-2 .slick-list {
        max-height: 325px;
    }
    .services__item-left {
        margin-right: 25px;
    }
}

@media (max-width: 1277px) {
    .header__menu-item-7 a {
        display: none;
    }
    .lux__item-img {
        width: 50%;
    }
    .lux__item-img img {
        width: 100%;
    }
    .slider__inner .slick-dots li {
        margin-left: 595px;
    }
    .slider .slick-track {
        width: 420px;
    }
    .slider__item.two {
        margin-left: 120px;
    }
    .footer__link {
        font-weight: 300;
        padding: 15px 45px;
    }
    .footer__menu {
        margin-right: auto;
    }
    .history {
        display: none;
    }
    .history__mobile {
        display: block;
    }
    .licenses {
        .licenses__items {
            flex-wrap: wrap;
        }
        .licenses__title {
            text-align: center;
        }
        .licenses__text {
            max-width: 100%;
            text-align: center;
        }
        .licenses__item {
            margin-right: 40px;
            margin-bottom: 30px;
        }
    }

    .services__items {
        flex-wrap: wrap;
    }
    .services__item-left,
    .services__item-right {
        margin: 0 auto;
    }
    .top__title {
        padding-top: 50px;
    }
}

@media (max-width: 1240px) {
    .licenses__item:nth-child(4) {
        margin: 0 auto;
    }
    .card {
        .card__content-text {
            max-width: 100%;
        }
        .slider-card {
            max-width: 100%;
        }
    }
    .card__inner {
        display: block;
    }
}
@media (max-width: 1120px) {
    #bg {
        background-position: 85%;
    }
    .top__title {
        padding: 105px 15px 0 105px;
        font-size: 98px;
    }
    .header-top__inner {
        display: none;
    }
    .top__text {
        padding-left: 105px;
    }
    .top__link {
        margin: 66px 105px;
    }
    .slider {
        min-height: auto;
    }
    .slider .draggable {
        max-width: 432px;
        margin: 0 auto;
        margin-top: -164px;
        height: auto !important;
    }
    .park {
        background-image: none;
        background-color: #f3f4fa;
    }
    .park__title {
        margin-bottom: 35px;
    }
    .park__text {
        margin-bottom: 0;
        max-width: 100%;
    }
    .park__top,
    .park__link-down {
        display: block;
    }
    .park__link-down {
        margin-bottom: 45px;
    }
    .park__small-link {
        color: #3f4458;
        margin: 0 auto;
        margin-bottom: 36px;
        display: block;
        margin-top: 0;
        border-bottom: 1px solid #3f4458;
    }
    .park__link {
        display: none;
    }
    .park .call {
        box-shadow: 0px 4px 40px #d6d7dd;
    }
    .slider__park {
        width: 100% !important;
    }
    .slick-dots {
        position: static;
    }
    .park .slick-dots button {
        border: 1px solid #3f4458;
    }
    .park .slick-dots .slick-active button,
    .slider .slick-dots .slick-active button {
        background-color: #3f4458;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slider__inner ul {
        margin-top: 0;
        text-align: center;
        margin-bottom: 60px;
        width: auto;
        li {
            display: inline-block;
        }
    }
    .slider__inner .slick-dots li {
        margin-left: 0;
    }
    .park__link-down {
        margin-left: auto;
        margin-right: auto;
    }
    .slick-dots li button:before {
        content: none;
    }
    .slider .slick-list {
        overflow: visible;
    }
    .rent__inner {
        flex-wrap: wrap;
    }
    .rent__wrapper {
        padding-left: 25px;
    }
    .team__link,
    .partners__link {
        position: static;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
    }
    .partners .partners__title {
        margin-bottom: 20px;
    }
    .top__title-services {
        padding-top: 50px;
    }
    .fleet__item {
        max-width: 50%;
        flex-basis: calc(50% - 50px);
        margin-left: 50px;
    }
    .fleet .fleet__filter .fleet__filter-sort {
        margin-bottom: 10px;
        display: block;
        & + .fleet__filter-sort {
            margin-left: 0;
        }
    }
    .fleet__item.list .fleet__item-content {
        position: static;
    }
    .card {
        .slick-dots {
            left: 30px;
        }
        ul {
            li {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 1030px) {
    .header__menu-item-7 a {
        display: block;
    }
    .header {
        display: none;
    }
    .header-top__menu {
        padding: 0 10px;
    }
    .header-top__inner {
        display: flex;
    }
    .top__title {
        padding-top: 25px;
    }
    li {
        display: block;
    }
    .statistic__inner {
        padding-left: 55px;
        padding-right: 55px;
    }
    .services {
        min-height: auto;
    }
    .services__inner div:nth-child(4) {
        margin-bottom: 10px;
    }
    .footer__menu li + li {
        margin-left: 0px;
    }
    .footer__social {
        display: flex;
    }
    .licenses .licenses__item {
        filter: saturate(1);
    }
    .licenses .licenses__item-overlay {
        background: none;
    }
    .licenses .licenses__item:hover {
        transform: none;
    }
}

@media (max-width: 970px) {
    .top__title {
        font-size: 80px;
    }
    .top__text {
        font-size: 35px;
    }
    .lux__item {
        display: block;
    }
    .lux__item-content {
        margin: 0 0 25px 25px;
        max-width: none;
    }
    .lux__item-text {
        margin-bottom: 15px;
    }
    .lux__item-img {
        margin: auto;
    }
    .park__content {
        padding-left: 35px;
        padding-top: 30px;
    }
    .top__title {
        padding: 45px 15px 0 45px;
    }
    .top__text {
        padding-left: 45px;
    }
    .top__link {
        margin: 66px 45px;
    }
    .statistic__inner {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .statistic__item {
        width: 46%;
    }
    .statistic__inner div + div {
        margin-left: 0;
    }
    .services__image p {
        font-size: 24px;
        line-height: 29px;
    }
    p.services__paragraph-3 {
        text-align: center;
        width: 235px;
        top: 26%;
        left: 19%;
    }
    p.services__paragraph-1 {
        top: 19%;
        left: 0;
    }
    p.services__paragraph-2,
    p.services__paragraph-4 {
        left: 19%;
    }
    .modal__img {
        display: none;
    }
    .modal__form-row input {
        display: block;
        width: 100%;
    }
    .modal__wrapper {
        .modal__booking {
            width: 100%;
        }
    }
    .modal__form {
        text-align: center;

        textarea {
            width: 100%;
        }
    }
    .top__title-services {
        padding-top: 50px;
        padding-left: 95px;
    }
    .top__title-services {
        padding-top: 50px;
    }
    #modal-call {
        height: 425px;
    }
}
@media (max-width: 940px) {
    .licenses__item:nth-child(4) {
        margin: 0 40px 30px 0;
    }
    .card .slick-slide {
        min-width: 0;
    }
    .card .slider-card {
        margin-right: 0;
    }
    .card .slider__item {
        background-size: contain;
    }
    .card .top__title {
        font-size: 60px;
    }
}
@media (max-width: 859px) {
    p.services__paragraph-1 {
        padding-left: 13px;
        padding-right: 13px;
    }
    p.services__paragraph-2,
    p.services__paragraph-4 {
        left: 12%;
    }
    .top__text.top__text-about {
        padding-bottom: 20px;
    }

    .team .team__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .top__title {
        font-size: 60px;
        line-height: 96px;
    }
    .top__text {
        font-size: 30px;
    }
    .services__title {
        font-size: 30px;
        line-height: 34px;
    }
    .slider-2 .slick-slide div,
    .slider-2 .slick-slide .slick-current .slick-active .slick-center,
    .slider-2 .slick-slide {
        width: 480px !important;
    }
    .slider-2__item-text {
        font-size: 15px;
        line-height: 23px;
    }
    .slider-2__item-title {
        font-size: 20px;
    }
    .slider-2__item {
        height: 245px !important;
    }
    .slider-2 .slick-list {
        max-height: 245px;
    }
    .services__image p {
        font-size: 16px;
        line-height: 19px;
    }
    p.services__paragraph-1 {
        top: 38%;
    }
    p.services__paragraph-2,
    p.services__paragraph-4 {
        left: 23%;
    }
    p.services__paragraph-3 {
        top: 33%;
        left: 16%;
    }
    .footer__bottom-inner {
        display: block;
    }
    .footer__bottom-inner p {
        margin: 0 0 17px 0;
    }
    .footer__social {
        margin-bottom: 17px;
        justify-content: center;
    }
    .footer__link {
        padding: 15px 54px;
    }
    .footer__inner {
        padding-top: 18px;
    }
    .footer .container {
        display: none;
    }
    .container-mobile {
        display: block;
    }
    .footer__logo {
        display: inline-block;
        padding-top: 18px;
        padding-left: 10px;
    }
    .footer__connect {
        padding-top: 23px;
        padding-right: 20px;
    }
    .footer__connect p {
        margin: 0 auto;
    }
    .footer a {
        color: #f3f4fa;
    }
    .footer__link.call {
        color: #3f4458;
        margin: 0 auto;
        display: block;
    }
    .footer__inner-mobile {
        height: 80px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
    }
    .footer__bottom-inner {
        padding-top: 23px;
        padding-left: 10px;
    }
    li {
        margin-bottom: 10px;
    }
    .footer__menu ul li:last-child {
        margin-bottom: 18px;
    }
    .footer__bottom-link {
        margin-bottom: 23px;
    }
    .footer__social li + li {
        margin-left: 29px;
    }
    .footer__social li:last-child {
        margin-top: 4px;
    }
    .history__mobile-list-first {
        font-size: 34px;
    }
    .partners .partners__items {
        flex-wrap: wrap;
    }
    .fleet__item {
        flex-basis: calc(100% - 10px);
        margin-left: 10px;
        max-width: 100%;
    }
    .fleet__item-img {
        max-width: 100%;
    }
    .fleet__item-title {
        display: block;
        text-align: center;
        font-size: 25px;
    }
    // .fleet__item.list .fleet__item-title{
    //     margin-top: 40px;
    // }
    .icon.icon-list,
    .icon.icon-large {
        display: none;
    }
    .fleet__item {
        border-bottom: 1px solid #3f4458;
        margin-bottom: 0;
    }
    .card .slick-dots {
        bottom: 60px;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 500px;
    }
}

@media (max-width: 716px) {
    p.services__paragraph-1 {
        top: 29%;
    }
    .top__title.top__title-services,
    .services__top-text {
        padding-left: 45px;
    }
    .card .slick-dots {
        bottom: 45px;
    }
    .card .top__title {
        margin-bottom: 0;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 500px;
    }
}

@media (max-width: 670px) {
    .statistic__item-text {
        font-size: 13px;
        line-height: 16px;
    }
    .statistic__item-title {
        font-size: 50px;
        line-height: 56px;
    }
    .rent__title {
        font-size: 30px;
        line-height: 34px;
    }
    .rent__text {
        font-size: 13px;
        line-height: 16px;
    }
    .rent__inner div + div {
        margin-left: 0;
    }
    .services__image {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .services__image img {
        display: block;
    }
    .services__image p {
        font-size: 24px;
        line-height: 29px;
    }
    .services__content {
        display: block;
    }
    .services__content a {
        display: none;
    }
    .down-link {
        display: block;
    }
    .services__title {
        padding-left: 0;
        text-align: center;
    }
    .services__inner div:nth-child(4) {
        margin-bottom: 14px;
    }
    .slider-2 .slick-slide div,
    .slider-2 .slick-slide .slick-current .slick-active .slick-center,
    .slider-2 .slick-slide {
        width: 220px !important;
    }
    .slider-2__item {
        height: 340px !important;
    }
    .slider-2 .slick-list {
        max-height: 340px;
    }
    .trust h3 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        padding-left: 0;
    }
    .slider-2__item-text {
        font-size: 14px;
        line-height: 18px;
        padding: 0px 16px 16px;
    }
    .slider-2__item-title {
        font-size: 16px;
        line-height: 19px;
        padding-left: 58px;
    }
    .slider-2__item-icons {
        transform: scale(0.77);
    }
    .slider-2__item-icons {
        left: -15px;
    }
    .slider-2 .slick-dots {
        padding: 0px 0px 55px;
    }
    .slick-dots li {
        margin: 0;
    }
    .slider-2 .slick-dots button,
    .slider .slick-dots button {
        width: 5px;
        height: 5px;
    }
    p.services__paragraph-1 {
        top: 29%;
    }
    p.services__paragraph-2,
    p.services__paragraph-4 {
        left: 27%;
        top: 41%;
    }
    p.services__paragraph-3 {
        left: 31%;
    }
    .licenses .licenses__items {
        justify-content: center;
    }
    .team .team__item {
        flex-direction: column;
        img {
            width: 400px;
            height: 400px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .team .team__item:nth-child(2n + 1) .team__item-content {
        padding-left: 0;
    }
    .team__item:nth-child(2) {
        img {
            order: -1;
        }
    }
    .img-wrap {
        margin: 0 auto;
        img {
            width: 100%;
            margin-right: 20px;
        }
    }
    .services__item-long {
        margin: 0 auto;
    }
    .services__item-left-bottom,
    .services__item-right {
        flex-wrap: wrap;
    }

    .services__item-short {
        margin: 0 auto;
    }
}

@media (max-width: 610px) {
    .top__inner {
        text-align: center;
    }
    .top__title {
        font-size: 50px;
        line-height: 76px;
        padding: 0;
        text-align: center;
    }
    .top .call {
        margin: 84px auto 102px;
    }
    .lux__item-img {
        display: none;
    }
    .lux__item-img-bg {
        display: block;
        background-image: url(../images/lux-1.svg);
        min-height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .park__title {
        font-size: 35px;
        line-height: 38px;
        height: auto;
    }
    .park__subtitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }
    p.services__paragraph-2,
    p.services__paragraph-4 {
        left: 21%;
    }
    p.services__paragraph-3 {
        left: 24%;
    }
    .history__mobile-list-first {
        font-size: 34px;
        padding-top: 36px;
    }
    .history__mobile-list-second {
        font-size: 14px;
    }
    .history__title {
        font-size: 50px;
    }
    .licenses .licenses__title {
        font-size: 50px;
    }
    .top__text-fleet {
        text-align: left;
    }
    .card .top__title {
        font-size: 50px;
        margin-bottom: 0;
    }
    .card .threed__title {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 50px;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 450px;
    }
}

@media (max-width: 566px) {
    .rent__title {
        margin-bottom: 14px;
        padding-top: 22px;
    }
    .rent__text {
        margin: 0 0 15px;
    }
    .rent__icons {
        transform: scale(0.59);
        margin-bottom: 0;
    }
    .call {
        width: 211px;
        height: 43px;
        padding: 10px 25px;
        margin-top: 29px;
    }
    .rent__link {
        font-size: 20px;
        line-height: 24px;
    }
    .footer__link {
        font-size: 20px;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 390px;
    }
    .tab__content {
        iframe {
            height: 400px;
        }
    }
    .top__title.contacts-title {
        font-size: 50px;
        margin-left: 0;
        margin-bottom: 25px;
    }
    .contacts__inner {
        .contacts__values {
            font-size: 20px;
        }
        .contacts__keys {
            font-size: 15px;
        }
    }
    .card-map {
        min-height: 550px;
    }
}

@media (max-width: 510px) {
    .top__title,
    .history__title {
        font-size: 45px;
        line-height: 70px;
    }
    .top__text {
        font-size: 25px;
    }
    .call {
        width: 212px;
        font-size: 20px;
        padding: 10px 28px;
    }
    .services__image p {
        font-size: 22px;
        line-height: 25px;
    }
    p.services__paragraph-3 {
        left: 19%;
    }

    .modal_form-title {
        font-size: 28px;
    }
    .modal__form-row {
        input {
            &::placeholder {
                font-size: 13px;
            }
        }
    }
    .popup__link {
        padding: 9px 33px;
        width: 177px;
    }
    .modal__form {
        textarea {
            &::placeholder {
                font-size: 13px;
            }
        }
    }
    .history__mobile-list-first {
        padding-top: 55px;
    }
    .licenses .licenses__title {
        font-size: 45px;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 350px;
    }
}

@media (max-width: 460px) {
    #bg {
        background-image: url(../images/top-small-bg.svg);
    }
    .top__title {
        font-size: 40px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 15px;
        padding: 15px 15px 0 7px;
    }
    .top__text {
        font-size: 20px;
        padding-left: 0px;
        line-height: 24px;
    }
    .lux__item-title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
        padding-left: 0;
    }
    .lux {
        padding: 27px 0px 0 0;
    }
    .lux__item-content {
        margin: 0 0 25px 10px;
    }
    .lux__item-text {
        font-weight: 250;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
    }
    .lux__item-link {
        font-size: 14px;
        line-height: 17px;
        margin-left: 0;
        width: 163px;
    }
    .park__title {
        font-size: 30px;
        line-height: 34px;
        height: auto;
    }
    .park__text {
        font-size: 14px;
        line-height: 16px;
    }
    .park__content {
        padding-left: 10px;
    }
    .park__subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    .slider__item.three,
    .slider__item.two,
    .slider__item.one {
        margin-left: 86px;
    }
    .park__small-link {
        font-size: 14px;
        width: 133px;
    }
    .statistic {
        background-image: url(../images/statistic-small-bg.svg);
    }
    .statistic__item {
        width: 100%;
    }
    .statistic__inner {
        padding-top: 65px;
        padding-bottom: 60px;
    }
    .statistic__item-text {
        margin-bottom: 40px;
    }
    .services__image p {
        font-size: 20px;
        line-height: 22px;
    }
    .rent__icons {
        transform: scale(0.6);
    }
    .lux__item-content p:nth-of-type(2) {
        margin-bottom: 18px;
    }
    .services__title {
        padding-top: 27px;
        margin-bottom: 17px;
    }
    .footer__logo {
        margin-right: 0;
        transform: scale(0.8);
        padding-left: 0;
    }
    .footer__connect p {
        font-size: 16px;
    }
    .footer__connect p + p {
        font-size: 12px;
        line-height: 14px;
    }
    .footer__inner-mobile {
        height: 88px;
    }
    .footer__menu a {
        font-size: 14px;
        line-height: 17px;
    }
    .footer__connect {
        padding-top: 23px;
    }
    .footer__link.call {
        margin-left: 22%;
    }
    .footer__inner-mobile {
        height: 53px;
    }
    .history__mobile-list-first {
        padding-top: 75px;
    }
    .history__title {
        font-size: 40px;
    }
    .history__mobile-list-first,
    .history__mobile-list-second {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    .history__mobile-list-second {
        border: none;
        text-align: center;
        &::after {
            content: none;
        }
    }
    .licenses .licenses__title,
    .team .team__title,
    .partners .partners__title {
        font-size: 40px;
    }
    .partners {
        min-height: 506px;
        height: auto;
    }
    .licenses .licenses__item {
        margin-right: 0;
    }
    .top__title.top__title-services,
    .services__top-text {
        padding-left: 0;
        text-align: center;
    }
    .top__text-fleet {
        text-align: center;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 330px;
    }
}

@media (max-width: 410px) {
    .slider .slick-center {
        transform: scale(1.55);
    }
    .services__image p {
        font-size: 17px;
        line-height: 19px;
    }
    .top__text.top__text-about {
        font-size: 20px;
    }
    .team .team__item img {
        width: 300px;
        height: 300px;
    }

    .partners__items {
        .partners__item {
            margin: 0 auto;
        }
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 310px;
    }
    .card .top__title,
    .threed__title {
        font-size: 45px;
    }
}

@media (max-width: 380px) {
    .slider__item.three,
    .slider__item.two,
    .slider__item.one {
        margin-left: 72px;
    }
    p.services__paragraph-1 {
        top: 31%;
    }
    p.services__paragraph-3 {
        left: 14%;
    }
    .footer__link.call {
        margin-left: 20%;
    }
    .team__link,
    .partners__link {
        font-size: 14px;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 280px;
    }
    .card .top__title,
    .threed__title {
        font-size: 30px;
    }
    .contacts__inner {
        .contacts__values {
            font-size: 20px;
            span {
                font-size: 15px;
            }
        }
        .contacts__keys {
            font-size: 14px;
        }
    }
    .card__tabs .tabs {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .slider__item.three,
    .slider__item.two,
    .slider__item.one {
        margin-left: 44px;
    }
    .services__image p {
        font-size: 16px;
        line-height: 19px;
        padding-right: 43px;
    }
    p.services__paragraph-3 {
        left: 20%;
    }
    p.services__paragraph-1 {
        left: 7%;
    }
    .footer__link.call {
        margin-left: 13%;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 250px;
    }
    .card .slick-dots {
        bottom: 25px;
    }
    .card .slick-dots li + li {
        margin-left: 10px;
    }
}

@media (max-width: 335px) {
    .slider__item.three,
    .slider__item.two,
    .slider__item.one {
        margin-left: 34px;
    }
    .slider .slick-center {
        transform: scale(1.45);
    }
    .services__image p {
        font-size: 16px;
        line-height: 19px;
        padding-right: 0px;
    }
    p.services__paragraph-1 {
        padding-left: 13px;
        padding-right: 13px;
        left: -2%;
    }
    p.services__paragraph-2 {
        left: 16%;
    }
    p.services__paragraph-3 {
        left: 10%;
    }
    .card .slider-card,
    .card .slider__item {
        min-height: 230px;
    }
}
