{% extends 'base.html' %}
{% load static %}


{% block bg %}
    class="bg bg-about"
{% endblock bg %}

{% block top_inner %}
    <div class="top__inner">
        <h1 class="top__title top__title-about">О компании</h1>
        <p class="top__text top__text-about">ЛюксАвиа – международная, крупнейшая в России компания деловой
            авиации. Мы
            выполняем внутренние и международные чартерные авиаперевозки практически во все страны мира.</p>
        <p class="top__text top__text-about">Наш парк воздушных суден– это исключительно современные
            иностранные бизнес
            джеты и бизнес лайнеры с премиальной конфигурацией салона. В нашем авиапарке 20 самолётов.</p>

    </div>
{% endblock top_inner %}


{% block content %}
    <section class="history">
        <div class="container">
            <h1 class="history__title">История компании</h1>
            <div class="history__wrapper">
                <div class="history__items">
                    <div class="history__items-top">
                        <h3>2000</h3>
                        <p>Увеличение авиапарка до 10 воздушных суден</p>
                        <h3>2005</h3>
                        <p>Расширение границ - доступны межконтинентальные перелеты</p>
                        <h3>2010</h3>
                        <p>Увеличение авиапарка до 20 воздушных суден</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="history__items-line">
            <div class="container circles">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="container">
            <div class="history__items-bottom">
                <p>Появление компании на рынке бизнес-авиации в России</p>
                <h3>2003</h3>
                <p>Получение награды в номинации “Лучшая компания” в сфере бизнес-авиации</p>
                <h3>2006</h3>
                <p>Топ-10 в списке Forbes среди авиакомпаний России</p>
                <h3>2015</h3>
            </div>
        </div>
    </section>

    <section class="history__mobile">
        <div class="container">
            <h1 class="history__title">История компании</h1>
            <ul class="history__mobile-list">
                <li>
                    <div class="history__mobile-list-first">
                        2000
                    </div>
                    <div class="history__mobile-list-second">
                        Появление компании на рынке бизнес-авиации в России
                    </div>
                </li>
                <li>
                    <div class="history__mobile-list-first">
                        2003
                    </div>
                    <div class="history__mobile-list-second">
                        Увеличение авиапарка до 10 воздушных суден
                    </div>
                </li>
                <li>
                    <div class="history__mobile-list-first">
                        2005
                    </div>
                    <div class="history__mobile-list-second">
                        Получение награды в номинации “Лучшая компания” в сфере бизнес-авиации
                    </div>
                </li>
                <li>
                    <div class="history__mobile-list-first">
                        2006
                    </div>
                    <div class="history__mobile-list-second">
                        Расширение границ - доступны межконтинентальные перелеты
                    </div>
                </li>
                <li>
                    <div class="history__mobile-list-first">
                        2010
                    </div>
                    <div class="history__mobile-list-second">
                        Топ-10 в списке Forbes среди авиакомпаний России
                    </div>
                </li>
                <li>
                    <div class="history__mobile-list-first">
                        2015
                    </div>
                    <div class="history__mobile-list-second">
                        Увеличение авиапарка до 20 воздушных суден
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="licenses">
        <div class="container">
            <h1 class="licenses__title">Наши сертификаты и лицензии</h1>
            <p class="licenses__text">Наша авиакомпания неизменно заботится о своих пассажирах, поэтому мы
                придерживаемся самых строгих международных стандартов безопасности.</p>
            <div class="licenses__items">
                <div class="licenses__item" style="background: url('{% static "images/license-1.jpg" %}');">
                    <div class="licenses__item-overlay"></div>
                </div>
                <div class="licenses__item"><img src="{% static 'images/license-2.jpg' %}" alt="Лицензия">
                    <div class="licenses__item-overlay"></div>
                </div>
                <div class="licenses__item"><img src="{% static 'images/license-3.jpg' %}" alt="Лицензия">
                    <div class="licenses__item-overlay"></div>
                </div>
                <div class="licenses__item"><img src="{% static 'images/license-4.jpg' %}" alt="Лицензия">
                    <div class="licenses__item-overlay"></div>
                </div>
            </div>
            <hr>
        </div>
    </section>


    <section class="team">
        <div class="container">
            <div class="team__top" style="clear: both;">
                <h1 class="team__title">Наша команда</h1>
                <a class="team__link" href="#">Показать всю команду</a>
            </div>
        </div>
        <div class="container__fluid">
            <div class="team__item">
                <img src="{% static 'images/team/team-1.jpg' %}" alt="Директор">
                <div class="team__item-content">
                    <h3 class="team__item-name">Дмитрий Филатов</h3>
                    <h6 class="team__title-post">Главный учредитель компании</h6>
                    <p class="team_-title-text">Человек, без которого бы не было нашей компании. Ее главный творец и
                        идейный
                        вдохновитель. </p>
                    <p class="team_-title-text">С самого детства мечтал быть пилотом самолета, но судьба сложилась
                        иначе.
                        Теперь
                        Дмитрий владелец 20 самолетов и одной из самых успешных авиакомпаний в России и странах СНГ.</p>
                </div>
            </div>
            <div class="team__item">
                <div class="team__item-content">
                    <h3 class="team__item-name">Арсений Птицын</h3>
                    <h6 class="team__title-post">Пилот</h6>
                    <p class="team_-title-text">«Я на всю жизнь запомнил свой первый полёт, в училище мы летали на
                        Ан-2.
                        Даже
                        не верилось, что я сам управляю самолётом, я лечу»</p>
                    <p class="team_-title-text">С отличием закончил Бугурусланское лётное училище гражданской авиации.
                        Провел более 12 000 часов в небе и посетил более 100 стран.</p>
                </div>
                <img src="{% static 'images/team/team-2.jpg' %}" alt="">
            </div>
            <div class="team__item">
                <img src="{% static 'images/team/team-3.jpg' %}" alt="">
                <div class="team__item-content">
                    <h3 class="team__item-name">Мария Ильина</h3>
                    <h6 class="team__title-post">Стюардесса</h6>
                    <p class="team_-title-text">Мария мечтала о небе еще со школьных лет. После 11 класса поступила в
                        МГУ на
                        лингвиста, но все-таки бросила весь привычный образ жизни ради мечты об авиации. В совершенстве
                        владеет
                        английским и немецким языками. Работает стюардессой больше шести лет. </p>
                </div>
            </div>

        </div>

    </section>


    <section class="partners">
        <div class="container">
            <div class="partners__top">
                <h1 class="partners__title">Наши партнеры</h1>
                <a href="#" class="partners__link">Узнать о партнерах и партнерстве</a>
            </div>
        </div>
        <div class="container__fluid">
            <div class="partners__items">
                <div class="partners__item"><img src="{% static 'images/team/logo-1-1.svg' %}" alt=""></div>
                <div class="partners__item"><img src="{% static 'images/team/logo-2-1.svg' %}" alt=""></div>
                <div class="partners__item"><img src="{% static 'images/team/logo-3-1.svg' %}" alt=""></div>
                <div class="partners__item"><img src="{% static 'images/team/logo-4-1.svg' %}" alt=""></div>
            </div>
        </div>
    </section>
{% endblock content %}
