{% extends 'base.html' %}
{% load static %}

{% block bg %}
    id="bg-about"
{% endblock bg %}

{% block top_inner %}
    <div class="top__inner">
    </div>
{% endblock top_inner %}

{% block content %}
<section class="card">
    <div class="container">
        <h1 class="top__title">Embraer Legacy 500</h1>
        <div class="card__inner">
            <div class="slider-card">
                <div class="slider__item" style="background-image: url({% static 'images/card/1.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/2.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/3.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/4.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/7.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/6.jpg' %});">
                </div>
                <div class="slider__item" style="background-image: url({% static 'images/card/5.jpg' %});">
                </div>
            </div>
            <div class="card__content">
                <div class="card__content-text">Бразильский самолет бизнес-класса среднего размера, запущенный
                    компанией Embraer в апреле 2008 года. Это первый самолет такого размера с стоячим салоном с
                    плоским полом и проводным управлением.
                </div>
                <ul class="card__content-list-key">
                    <li>Дальность полета:<span>5 556 км</span></li>
                    <li>Скорость:<span>1 004 км/ч</span></li>
                    <li>Количество мест:<span>12</span></li>
                    <li>Класс самолета:<span>Бизнес лайнер</span></li>
                    <li>Экипаж:<span>5</span></li>
                    <li>Габариты салона:<span>54.04 м/5.28 м/2.40 м</span></li>
                </ul>
                <a class=" top__link call" data-fancybox data-src="#modal-booking"
                   href="javascript:;">Забронировать</a>
            </div>
        </div>
        <h1 class="threed__title">3D&ndash;тур</h1>
    </div>
</section>

<section class="3d">
    <iframe src="https://jets.ru/virtual-tour-embraer-legacy-600.html" width="100%" height="950px"
            frameborder="0"></iframe>

</section>
{% endblock content %}